<div class="form-floating my-4">
  <h2>selected category: {{selectedCategoryId}}</h2>

  <select
    class="form-select"
    id="floatingSelect"
    aria-label="Floating label select example"
    [(ngModel)]="selectedCategoryId"
  >
    <!-- (change)="felterProducts()" -->
    <option selected value="0">All</option>
    <option selected *ngFor="let cat of categories" [value]="cat.id">
      {{cat.name}}
    </option>
  </select>
  <label for="floatingSelect">Works with selects</label>
</div>

<app-home
  [recievedCatId]="selectedCategoryId"
  (onTotalPriceChange)="calculateTotalPrice($event)"
></app-home>

<p>{{recievedTotalPrice}}</p>
